@charset "GBK";
body
{
	background-attachment: fixed;
	padding:0px;
	margin:0px;
	background-position:center;
	background-repeat:no-repeat;
}
#banner
{
	top:0px;
	left:0px;
	width:100%;
	height:110px;
	margin:0px;
	padding:0px;
}
#title
{
	position:absolute;
	left:50px;
	top:20px;
	width:136px;
	height:52px;	
}
#menu
{
	position:fixed;
	height: 80px;
	width: 100%;
	background-image: url(../images/MenuDecoration.png);
	background-repeat: no-repeat;
	background-position: center;	
	text-align:center;
}
#mainbody
{
	left:0px;
	width:100%;
	min-height:500px;	
	text-align:center;
}
#validArea
{
	width:1000px;
	height:500px;
	text-align:left;
}
#Text
{
	position:absolute;
	height:500px;
	width:720px;
	margin-left:250px;
	margin-right:30px;
	font-size:12px;
}
#tips
{
	position:absolute;
	width:250px;
	height:270px;
	margin-left:30px;
	margin-top:100px;
	padding-top:35px;
	padding-left:35px;
	font-size:12px;
}
